
section.section.section-offer
  .container 
    .offer
      .row 
        .col-12.col-lg-7
          .offer-inner 
            .offer-title.title Индивидуальный подбор товаров для гостиницы  
            .offer-desc Поможем бесплатно сформировать набор товаров под ваши персональные потребности и бюджет
            .offer-button
              a(href="#").btn.btn-color Индивидуальный подбор