.prt 
  .prt-title Голы
  .prt-prot.prt-prot__gol 
    .prt-prot__row.odd 
      .prt-prot__row-col-1
        .gol 
          .gol-play 
            a(href="#").icon-play
              i.fa.fa-p
          .gol-desc 
            span Родриго
            div Джек Харрисон
          .gol-res 
            span 2 : 0

      .prt-prot__row-col-2 
        span 27’
        div.d-lg-none 
          a(href="#").icon-play
            i.fa.fa-p
      .prt-prot__row-col-3
    .prt-prot__row.even 
      .prt-prot__row-col-1
      .prt-prot__row-col-2 
        span 60’
        div.d-lg-none 
          a(href="#").icon-play
            i.fa.fa-p
      .prt-prot__row-col-3
        .gol 
          .gol-play 
            a(href="#").icon-play
              i.fa.fa-p
          .gol-desc 
            span Киран Кларк
            div Райан Фрейзер
          .gol-res 
            span 2 : 0
    .prt-prot__row.odd 
      .prt-prot__row-col-1
      .prt-prot__row-col-2
        span 60’
        div.d-lg-none 
          a(href="#").icon-play
            i.fa.fa-p
      .prt-prot__row-col-3

  .prt-box 
  .prt-title Незабитые пенальти
  .prt-prot.prt-prot__penal
    .prt-prot__row 
      .prt-prot__row-col-1 Федор Чалов
      .prt-prot__row-col-2 27’
      .prt-prot__row-col-3.d-none.d-lg-block
  .prt-title Наказания
  .prt-prot.prt-prot__nakaz 
    .prt-prot__row 
      .prt-prot__row-col-1 
        .nakaz 
          span Виктор Васин
          .card.card-yellow
      .prt-prot__row-col-2 27’
      .prt-prot__row-col-3 
    .prt-prot__row 
      .prt-prot__row-col-1 
      .prt-prot__row-col-2 60’
      .prt-prot__row-col-3 
        .nakaz 
          span Алан Дзагоев
          .card.card-red
    .prt-prot__row 
      .prt-prot__row-col-1 
        .nakaz 
          span Кристиян Бистрович
          .card.card-yellow
      .prt-prot__row-col-2 90’
      .prt-prot__row-col-3 
  .prt-box 
  .prt-title Замены
  .prt-prot.prt-prot__zamen 
    .prt-prot__row.odd 
      .prt-prot__row-col-1 
        .zamen 
          span Виктор Васин
          .trn-to.down
          .trn-to.up
          span Алан Дзагоев
      .prt-prot__row-col-2 27’
      .prt-prot__row-col-3 
    .prt-prot__row.odd 
      .prt-prot__row-col-1 
      .prt-prot__row-col-2 60’
      .prt-prot__row-col-3 
    .prt-prot__row.even 
      .prt-prot__row-col-1 
      .prt-prot__row-col-2 90’
      .prt-prot__row-col-3 
        .zamen 
          span Виктор Васин
          .trn-to.down
          .trn-to.up
          span Алан Дзагоев
  .prt-box 
  .prt-title VAR
  .prt-box 
    .prt-prot 
      .prt-prot__row 
        .prt-prot__row-col-1 
          .var 
            .var-name Кэнто Хасимото
            .var-res 
              span 
                img(data-src="./images/game/ball1.svg").lazy
              i.fa.fa-arrline
              span 
                img(data-src="./images/game/ball2.svg").lazy

        .prt-prot__row-col-2 90’
        .prt-prot__row-col-3 
        
  .prt-title.prt-title-nob Составы команд
  .prt-box 
    .prt-box-map 
      .map 
        .map-col.map-col-1.team1 
          .map-user
            div 
              i 35
            span Акинфеев
        .map-col.map-col-4.team1 
          .map-user
            div 
              i 35
            span Акинфеев
          .map-user
            div 
              i 35
            span Акинфеев
          .map-user
            div 
              i 35
            span Акинфеев
          .map-user
            div 
              i 35
            span Акинфеев
        .map-col.map-col-2.team1 
          .map-user
            div
              i 98
            span Акинфеев
          .map-user
            div 
              i 
            span Акинфеев
        .map-col.map-col-3.team1 
          .map-user
            div 
              i 9
            span Акинфеев
          .map-user
            div 
              i 9
            span Акинфеев
          .map-user
            div 
              i 9
            span Акинфеев
        .map-col.map-col-1.team1 
          .map-user
            div 
              i 1
            span Гайч




        .map-col.map-col-1.team2 
          .map-user
            div 
              i 21
            span Акинфеев
        .map-col.map-col-3.team2 
          .map-user
            div 
              i 17
            span Кучаев
          .map-user
            div 
              i 8
            span Влашич
          .map-user
            div 
              i 8
            span Акинфеев
        .map-col.map-col-2.team2 
          .map-user
            div 
              i 98
            span Акинфеев
          .map-user
            div 
              i 10
            span Акинфеев
        .map-col.map-col-4.team2 
          .map-user
            div 
              i 19
            span Акинфеев
          .map-user
            div 
              i 23
            span Акинфеев
          .map-user
            div 
              i 78
            span Акинфеев
          .map-user
            div 
              i 22
            span Акинфеев
        .map-col.map-col-1.team2
          .map-user
            div
              i 35
            span Акинфеев
    .prt-box-mobile.d-lg-none 
      
      .js-tabs
        .service-selector.js-tabs-selectors 
          a(href="#", data-tab="1").active.btn.btn-white ЦСКА    
          a(href="#", data-tab="2").btn.btn-white Ростов

        .view-tabs
          .tab.js-tabs-box.js-tabs-box-1.active
            .prt-box-sst 
              .prt-box-sst__row-col
                .prt-box-sst__header
                  .prt-box-sst__header-col-1
                    img(data-src="./images/content/team/1.png", alt="", title="").lazy
                  .prt-box-sst__header-col-2
                  .prt-box-sst__header-col-3
                    img(data-src="./images/game/gate.png").lazy
                  .prt-box-sst__header-col-4
                    img(data-src="./images/game/lr.svg").lazy
                  .prt-box-sst__header-col-5
                    img(data-src="./images/game/stats.svg").lazy

                .prt-box-sst__row 
                  .prt-box-sst__col-1 35
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 вр
                  .prt-box-sst__col-4 Игорь Акинфеев
                  .prt-box-sst__col-5 2
                  .prt-box-sst__col-6.red 9'
                  .prt-box-sst__col-7 7.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 зщ
                  .prt-box-sst__col-4 Игорь Дивеев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.red 
                  .prt-box-sst__col-7 6.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 пз
                  .prt-box-sst__col-4 Константин Кучаев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.green 62'
                  .prt-box-sst__col-7 6.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 35
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 вр
                  .prt-box-sst__col-4 Игорь Акинфеев
                  .prt-box-sst__col-5 2
                  .prt-box-sst__col-6.red 9'
                  .prt-box-sst__col-7 7.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 зщ
                  .prt-box-sst__col-4 Игорь Дивеев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.red 
                  .prt-box-sst__col-7 6.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 пз
                  .prt-box-sst__col-4 Константин Кучаев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.green 62'
                  .prt-box-sst__col-7 6.5

            .prt-title Запасные
            .prt-box
              .prt-box-zap 
                .prt-box-zap__row-col
                  .prt-box-zap__row 
                    .prt-box-zap__col-1 35
                    .prt-box-zap__col-2 
                      img(data-src="./images/flags/ru.png").lazy
                    .prt-box-zap__col-3 вр
                    .prt-box-zap__col-4 Владислав Тороп
                  .prt-box-zap__row 
                    .prt-box-zap__col-1 23
                    .prt-box-zap__col-2 
                      img(data-src="./images/flags/ru.png").lazy
                    .prt-box-zap__col-3 зщ
                    .prt-box-zap__col-4 Вадим Карпов
                
            .prt-title Главные тренеры
            .prt-box
                .prt-box-zap 
                  .prt-box-zap__row-col
                    .prt-box-zap__row 
                      .prt-box-zap__col-2 
                        img(data-src="./images/flags/ru.png").lazy
                      .prt-box-zap__col-4 Виктор Михайлович Гончаренко

          .tab.js-tabs-box.js-tabs-box-2
            .prt-box-sst 
              .prt-box-sst__row-col
                .prt-box-sst__header
                  .prt-box-sst__header-col-1
                    img(data-src="./images/content/team/1.png", alt="", title="").lazy
                  .prt-box-sst__header-col-2
                  .prt-box-sst__header-col-3
                    img(data-src="./images/game/gate.png").lazy
                  .prt-box-sst__header-col-4
                    img(data-src="./images/game/lr.svg").lazy
                  .prt-box-sst__header-col-5
                    img(data-src="./images/game/stats.svg").lazy

                .prt-box-sst__row 
                  .prt-box-sst__col-1 35
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 вр
                  .prt-box-sst__col-4 Игорь Акинфеев
                  .prt-box-sst__col-5 2
                  .prt-box-sst__col-6.red 9'
                  .prt-box-sst__col-7 7.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 зщ
                  .prt-box-sst__col-4 Игорь Дивеев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.red 
                  .prt-box-sst__col-7 6.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 пз
                  .prt-box-sst__col-4 Константин Кучаев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.green 62'
                  .prt-box-sst__col-7 6.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 35
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 вр
                  .prt-box-sst__col-4 Игорь Акинфеев
                  .prt-box-sst__col-5 2
                  .prt-box-sst__col-6.red 9'
                  .prt-box-sst__col-7 7.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 зщ
                  .prt-box-sst__col-4 Игорь Дивеев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.red 
                  .prt-box-sst__col-7 6.5
                .prt-box-sst__row 
                  .prt-box-sst__col-1 23
                  .prt-box-sst__col-2 
                    img(data-src="./images/flags/ru.png").lazy
                  .prt-box-sst__col-3 пз
                  .prt-box-sst__col-4 Константин Кучаев
                  .prt-box-sst__col-5 
                  .prt-box-sst__col-6.green 62'
                  .prt-box-sst__col-7 6.5

            .prt-title Запасные
            .prt-box
              .prt-box-zap 
                .prt-box-zap__row-col
                  .prt-box-zap__row 
                    .prt-box-zap__col-1 35
                    .prt-box-zap__col-2 
                      img(data-src="./images/flags/ru.png").lazy
                    .prt-box-zap__col-3 вр
                    .prt-box-zap__col-4 Владислав Тороп
                  .prt-box-zap__row 
                    .prt-box-zap__col-1 23
                    .prt-box-zap__col-2 
                      img(data-src="./images/flags/ru.png").lazy
                    .prt-box-zap__col-3 зщ
                    .prt-box-zap__col-4 Вадим Карпов
                
            .prt-title Главные тренеры
            .prt-box
              .prt-box-zap 
                .prt-box-zap__row-col
                  .prt-box-zap__row 
                    .prt-box-zap__col-2 
                      img(data-src="./images/flags/ru.png").lazy
                    .prt-box-zap__col-4 Виктор Михайлович Гончаренко

    .prt-box-desctop.d-none.d-lg-block 
      .prt-box-sst 
          .prt-box-sst__row-col
            .prt-box-sst__header
              .prt-box-sst__header-col-1
                img(data-src="./images/content/team/1.png", alt="", title="").lazy
              .prt-box-sst__header-col-2
              .prt-box-sst__header-col-3
                img(data-src="./images/game/gate.png").lazy
              .prt-box-sst__header-col-4
                img(data-src="./images/game/lr.svg").lazy
              .prt-box-sst__header-col-5
                img(data-src="./images/game/stats.svg").lazy

            .prt-box-sst__row 
              .prt-box-sst__col-1 35
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 вр
              .prt-box-sst__col-4 Игорь Акинфеев
              .prt-box-sst__col-5 2
              .prt-box-sst__col-6.red 9'
              .prt-box-sst__col-7 7.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 зщ
              .prt-box-sst__col-4 Игорь Дивеев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.red 
              .prt-box-sst__col-7 6.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 пз
              .prt-box-sst__col-4 Константин Кучаев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.green 62'
              .prt-box-sst__col-7 6.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 35
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 вр
              .prt-box-sst__col-4 Игорь Акинфеев
              .prt-box-sst__col-5 2
              .prt-box-sst__col-6.red 9'
              .prt-box-sst__col-7 7.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 зщ
              .prt-box-sst__col-4 Игорь Дивеев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.red 
              .prt-box-sst__col-7 6.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 пз
              .prt-box-sst__col-4 Константин Кучаев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.green 62'
              .prt-box-sst__col-7 6.5

          .prt-box-sst__row-col
            .prt-box-sst__header
              .prt-box-sst__header-col-1
                img(data-src="./images/content/team/2.png", alt="", title="").lazy
              .prt-box-sst__header-col-2
              .prt-box-sst__header-col-3
                img(data-src="./images/game/gate.png").lazy
              .prt-box-sst__header-col-4
                img(data-src="./images/game/lr.svg").lazy
              .prt-box-sst__header-col-5
                img(data-src="./images/game/stats.svg").lazy

            .prt-box-sst__row 
              .prt-box-sst__col-1 35
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 вр
              .prt-box-sst__col-4 Игорь Акинфеев
              .prt-box-sst__col-5 2
              .prt-box-sst__col-6.red 9'
              .prt-box-sst__col-7 7.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 зщ
              .prt-box-sst__col-4 Игорь Дивеев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.red 
              .prt-box-sst__col-7 6.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 пз
              .prt-box-sst__col-4 Константин Кучаев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.green 62'
              .prt-box-sst__col-7 6.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 35
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 вр
              .prt-box-sst__col-4 Игорь Акинфеев
              .prt-box-sst__col-5 2
              .prt-box-sst__col-6.red 9'
              .prt-box-sst__col-7 7.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 зщ
              .prt-box-sst__col-4 Игорь Дивеев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.red 
              .prt-box-sst__col-7 6.5
            .prt-box-sst__row 
              .prt-box-sst__col-1 23
              .prt-box-sst__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-sst__col-3 пз
              .prt-box-sst__col-4 Константин Кучаев
              .prt-box-sst__col-5 
              .prt-box-sst__col-6.green 62'
              .prt-box-sst__col-7 6.5

      .prt-title Запасные
      .prt-box 
        .prt-box-zap 
          .prt-box-zap__row-col
            .prt-box-zap__row 
              .prt-box-zap__col-1 35
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-3 вр
              .prt-box-zap__col-4 Владислав Тороп
            .prt-box-zap__row 
              .prt-box-zap__col-1 23
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-3 зщ
              .prt-box-zap__col-4 Вадим Карпов
          .prt-box-zap__row-col
            .prt-box-zap__row 
              .prt-box-zap__col-1 1
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-3 вр
              .prt-box-zap__col-4 Егор Бабурин
            .prt-box-zap__row 
              .prt-box-zap__col-1 77
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-3 вр
              .prt-box-zap__col-4 Максим Рудаков
            .prt-box-zap__row 
              .prt-box-zap__col-1 96
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-3 вр
              .prt-box-zap__col-4 Александр Гапечкин

      .prt-title Главные тренеры
      .prt-box 
        .prt-box-zap 
          .prt-box-zap__row-col
            .prt-box-zap__row 
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-4 Виктор Михайлович Гончаренко
          .prt-box-zap__row-col
            .prt-box-zap__row 
              .prt-box-zap__col-2 
                img(data-src="./images/flags/ru.png").lazy
              .prt-box-zap__col-4 Валерий Георгиевич Карпин

    .prt-title Статистика
    .prt-box 
        .prt-stat 
          .prt-stat__header 
            span ЦСКА
            span ФК Ростов
          .prt-stat__row 
            .prt-stat__row-header  
              span 70%
              div Владение мячом
              span 30%
            .prt-stat__row-line
              span(style="left: 0; right: 30%;")  
          .prt-stat__row 
            .prt-stat__row-header  
              span 5
              div Голевые моменты
              span 12
            .prt-stat__row-line
              span(style="left: 60%; right: 0%;")  
          .prt-stat__row 
            .prt-stat__row-header  
              span 1
              div Всего ударов
              span 4
            .prt-stat__row-line
              span(style="left: 40%; right: 0%;")  
          .prt-stat__row 
            .prt-stat__row-header  
              span 5
              div Ударов в створ
              span 10
            .prt-stat__row-line
              span(style="left: 50%; right: 0%;")   
          .prt-stat__row 
            .prt-stat__row-header  
              span 2
              div Угловые
              span 2
            .prt-stat__row-line
              span(style="left: 0%; right: 50%;")   
          .prt-stat__row 
            .prt-stat__row-header  
              span 12
              div Нарушения
              span 2
            .prt-stat__row-line
              span(style="left: 0%; right: 20%;") 
          .prt-stat__row 
            .prt-stat__row-header  
              span 2
              div Офсайты
              span 1
            .prt-stat__row-line
              span(style="left: 0%; right: 41%;")  

