.trns
  .trn 
    .trn-1 90+4'
    .trn-2
    .trn-3 
      p С большим преимуществом ЦСКА прошёл матч. Единственным действительно хорошим шансом «Ростова» был пенальти, который отбил Акинфеев. «Армейцы» закрепляются на первой строчке и пробудут там ещё минимум пару недель — ведь чемпионат берёт паузу на игры сборных.
      p На этом наша трансляция подошла к концу. С вами был Денис Болховских. Спасибо за внимание, до новых встреч!
  .trn 
    .trn-1 90+3’
    .trn-2
    .trn-3 
      p Матч окончен!
  .trn 
    .trn-1 90+1'
    .trn-2 
    .trn-3 
      p Три минуты добавил Матюнин.
  .trn.yl
    .trn-1 90+1'
    .trn-2
      .card.card-yellow
    .trn-4
        p Кристиан Бистрович
    .trn-3
      p Бистрович получает предупреждение за жёсткий фол в центре поля.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.up
    .trn-3 
      p Данила Сухомлинов
    .trn-3
      p Сухомлинов появляется на добавленное время.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.down
    .trn-4
      p Николай Поярков
    .trn-3
      p Поярков покидает поле.
  .trn.gr 
    .trn-1 90+1'
    .trn-2.green 2:0
    .trn-4 
      p Федор Чалов
    .trn-3
      p Гол! Дзагоев выполнил классную передачу на Чалова перед штрафной, Фёдор обыграл Терентьева и точно пробил низом в дальний угол!
  
  .trn 
    .trn-1 90+4'
    .trn-2
    .trn-3 
      p С большим преимуществом ЦСКА прошёл матч. Единственным действительно хорошим шансом «Ростова» был пенальти, который отбил Акинфеев. «Армейцы» закрепляются на первой строчке и пробудут там ещё минимум пару недель — ведь чемпионат берёт паузу на игры сборных.
      p На этом наша трансляция подошла к концу. С вами был Денис Болховских. Спасибо за внимание, до новых встреч!
  .trn 
    .trn-1 90+3’
    .trn-2
    .trn-3 
      p Матч окончен!
  .trn 
    .trn-1 90+1'
    .trn-2 
    .trn-3 
      p Три минуты добавил Матюнин.
  .trn.yl
    .trn-1 90+1'
    .trn-2
      .card.card-yellow
    .trn-4 
      p Кристиан Бистрович
    .trn-3
      p Бистрович получает предупреждение за жёсткий фол в центре поля.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.up
    .trn-4
      p Данила Сухомлинов
    .trn-3
      p Сухомлинов появляется на добавленное время.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.down
    .trn-4
      p Николай Поярков
    .trn-3
      p Поярков покидает поле.
  .trn.gr 
    .trn-1 90+1'
    .trn-2.red 2:0
    .trn-4
      p Федор Чалов
    .trn-3
      p Гол! Дзагоев выполнил классную передачу на Чалова перед штрафной, Фёдор обыграл Терентьева и точно пробил низом в дальний угол!
  
  .trn 
    .trn-1 90+4'
    .trn-2
    .trn-3 
      p С большим преимуществом ЦСКА прошёл матч. Единственным действительно хорошим шансом «Ростова» был пенальти, который отбил Акинфеев. «Армейцы» закрепляются на первой строчке и пробудут там ещё минимум пару недель — ведь чемпионат берёт паузу на игры сборных.
      p На этом наша трансляция подошла к концу. С вами был Денис Болховских. Спасибо за внимание, до новых встреч!
  .trn 
    .trn-1 90+3’
    .trn-2
    .trn-3 
      p Матч окончен!
  .trn 
    .trn-1 90+1'
    .trn-2 
    .trn-3 
      p Три минуты добавил Матюнин.
  .trn.yl
    .trn-1 90+1'
    .trn-2
      .card.card-yellow
    .trn-4
        p Кристиан Бистрович
    .trn-3
      p Бистрович получает предупреждение за жёсткий фол в центре поля.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.up
    .trn-3 
      p Данила Сухомлинов
    .trn-3
      p Сухомлинов появляется на добавленное время.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.down
    .trn-4
      p Николай Поярков
    .trn-3
      p Поярков покидает поле.
  .trn.gr 
    .trn-1 90+1'
    .trn-2.green 2:0
    .trn-4 
      p Федор Чалов
    .trn-3
      p Гол! Дзагоев выполнил классную передачу на Чалова перед штрафной, Фёдор обыграл Терентьева и точно пробил низом в дальний угол!
  
  .trn 
    .trn-1 90+4'
    .trn-2
    .trn-3 
      p С большим преимуществом ЦСКА прошёл матч. Единственным действительно хорошим шансом «Ростова» был пенальти, который отбил Акинфеев. «Армейцы» закрепляются на первой строчке и пробудут там ещё минимум пару недель — ведь чемпионат берёт паузу на игры сборных.
      p На этом наша трансляция подошла к концу. С вами был Денис Болховских. Спасибо за внимание, до новых встреч!
  .trn 
    .trn-1 90+3’
    .trn-2
    .trn-3 
      p Матч окончен!
  .trn 
    .trn-1 90+1'
    .trn-2 
    .trn-3 
      p Три минуты добавил Матюнин.
  .trn.yl
    .trn-1 90+1'
    .trn-2
      .card.card-yellow
    .trn-4 
      p Кристиан Бистрович
    .trn-3
      p Бистрович получает предупреждение за жёсткий фол в центре поля.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.up
    .trn-4
      p Данила Сухомлинов
    .trn-3
      p Сухомлинов появляется на добавленное время.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.down
    .trn-4
      p Николай Поярков
    .trn-3
      p Поярков покидает поле.
  .trn.gr 
    .trn-1 90+1'
    .trn-2.red 2:0
    .trn-4
      p Федор Чалов
    .trn-3
      p Гол! Дзагоев выполнил классную передачу на Чалова перед штрафной, Фёдор обыграл Терентьева и точно пробил низом в дальний угол!
  
  .trn 
    .trn-1 90+4'
    .trn-2
    .trn-3 
      p С большим преимуществом ЦСКА прошёл матч. Единственным действительно хорошим шансом «Ростова» был пенальти, который отбил Акинфеев. «Армейцы» закрепляются на первой строчке и пробудут там ещё минимум пару недель — ведь чемпионат берёт паузу на игры сборных.
      p На этом наша трансляция подошла к концу. С вами был Денис Болховских. Спасибо за внимание, до новых встреч!
  .trn 
    .trn-1 90+3’
    .trn-2
    .trn-3 
      p Матч окончен!
  .trn 
    .trn-1 90+1'
    .trn-2 
    .trn-3 
      p Три минуты добавил Матюнин.
  .trn.yl
    .trn-1 90+1'
    .trn-2
      .card.card-yellow
    .trn-4
        p Кристиан Бистрович
    .trn-3
      p Бистрович получает предупреждение за жёсткий фол в центре поля.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.up
    .trn-3 
      p Данила Сухомлинов
    .trn-3
      p Сухомлинов появляется на добавленное время.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.down
    .trn-4
      p Николай Поярков
    .trn-3
      p Поярков покидает поле.
  .trn.gr 
    .trn-1 90+1'
    .trn-2.green 2:0
    .trn-4 
      p Федор Чалов
    .trn-3
      p Гол! Дзагоев выполнил классную передачу на Чалова перед штрафной, Фёдор обыграл Терентьева и точно пробил низом в дальний угол!
  
  .trn 
    .trn-1 90+4'
    .trn-2
    .trn-3 
      p С большим преимуществом ЦСКА прошёл матч. Единственным действительно хорошим шансом «Ростова» был пенальти, который отбил Акинфеев. «Армейцы» закрепляются на первой строчке и пробудут там ещё минимум пару недель — ведь чемпионат берёт паузу на игры сборных.
      p На этом наша трансляция подошла к концу. С вами был Денис Болховских. Спасибо за внимание, до новых встреч!
  .trn 
    .trn-1 90+3’
    .trn-2
    .trn-3 
      p Матч окончен!
  .trn 
    .trn-1 90+1'
    .trn-2 
    .trn-3 
      p Три минуты добавил Матюнин.
  .trn.yl
    .trn-1 90+1'
    .trn-2
      .card.card-yellow
    .trn-4 
      p Кристиан Бистрович
    .trn-3
      p Бистрович получает предупреждение за жёсткий фол в центре поля.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.up
    .trn-4
      p Данила Сухомлинов
    .trn-3
      p Сухомлинов появляется на добавленное время.
  .trn 
    .trn-1 90'
    .trn-2
      .trn-to.down
    .trn-4
      p Николай Поярков
    .trn-3
      p Поярков покидает поле.
  .trn.gr 
    .trn-1 90+1'
    .trn-2.red 2:0
    .trn-4
      p Федор Чалов
    .trn-3
      p Гол! Дзагоев выполнил классную передачу на Чалова перед штрафной, Фёдор обыграл Терентьева и точно пробил низом в дальний угол!
  