extends pug/layout/layout-sys.pug

block vars
  -var pageTitle = 'Terms';
  -var pageClass = 'order';

block content
  section.first-screen__order(data-aos="fade-in")
    .container 
      .row.justify-content-center
        .col-12.col-lg-10.col-xl-8
          h2.h3 FanVerse (FANV) Token Sale
          h1.h2 Terms of use
          .sys-desc
            p 
              strong Last updated: April 1, 2022
            p The sales of the Tokens by the Company during the Token Sale (whether Private Sales, the Pre-Sales and the Public Sales) shall be subject to these Terms.
            p By participating in the Token Sale, you agree that (i) you and the person that you represent (if any) shall be collectively referred to as the “
              strong Purchaser
              | ” or “
              strong Buyer
              | ” (as defined below), and (ii) these Terms and all documents incorporated by reference into these Terms constitute a legally binding agreement between the Company and each Purchaser (each a “
              strong Party
              | ” and collectively, the “
              strong Parties
              | ”). “Purchaser” or “Buyer” shall mean any person who participates in the Token Sale and in these Terms, a person shall be deemed to participate in the Token Sale if, for example, such person (i) submits any information to the Company for the purposes of participating in the Token Sale, (ii) pays (or attempts to pay) the Company for the Tokens, (iii) receives Tokens pursuant to the Token Sale.
            p “
              strong Terms
              | ” shall mean these terms and conditions of token sale, including the Annexures and all documents incorporated by reference into these Terms. Additional definitions and terms used throughout this document will have the meaning assigned to them in the Terms and Conditions (“
              strong T&C
              | ”) document attached hereto in Annexure D.
            p If you do not agree to these Terms or if you are in any doubt as to the action you should take, you should (i) consult your financial, legal, tax, technical or other professional advisors, (ii) immediately navigate away from the Website, and (iii) immediately cease all participation in the Token Sale.
            p If you have any question regarding these Terms or the Whitepaper, respectively, you may contact the Company by sending an email to FanVerse Inc. at @fanversecoin.io.
            h2.h3 A. TERMS
            p 1. Please read all the documents which form the Accompanying Documents as specified in the T&C carefully before participation in this Token Sale. 
              strong Note that Clause 9 of the T&C contains a binding arbitration clause and class action waiver, which, if applicable to you, affect your legal rights. 
              | If you do not agree to these Terms, do not visit the Website and Use the Tokens in any manner and also do not participate in the Sale of the Tokens.
            p 2. The Token is not a financial or securities instrument. It is proprietary software made for mere participatory access to the FanVerse network and community. Specifically, the Token allows for the transfer of value within the FanVerse Network, as it is a vehicle for in-platform micropayments, NFT bidding/purchasing, and the paying of marketplace fees.
            p 3. Your participation in the Token Sale is an indication of your understanding that the purchase of Tokens is not in any way a purchase of equity in/or debt from the Company or its associated entities.
            p 4. The Tokens are issued at the sole discretion of the Company on submission of the requisite payment, completion of identification procedures, submission of necessary documents and fulfilment of all terms specified in all documents included in “Agreements” as specified in Clause 2 (d) of the T&C (Annexure D). The Company may refuse to allocate or sell any Tokens even on fulfilment of all conditions without assigning any reason thereof.
            p 5. 
              strong PURCHASE LIMITATIONS
              | . UNITED STATES CITIZENS AND RESIDENTS, CHINESE CITIZENS AND RESIDENTS, CANADIAN CITIZENS AND RESIDENTS, AND SINGAPOREAN CITIZENS AND RESIDENTS (collectively referred to as “
              strong Restricted Countries
              | ”) MAY NOT BE ELIGIBLE TO PARTICIPATE IN THE TOKEN SALE BASED ON THE SOLE DISCRETION OF THE COMPANY. UNLESS WAIVED BY THE COMPANY, THE BUYER IS ONLY ALLOWED TO PURCHASE FANVERSE TOKENS IF AND BY BUYING FANVERSE TOKENS HE/SHE COVENANTS, REPRESENTS, AND WARRANTS THAT HE/SHE IS NEITHER A CITIZEN NOR PERMANENT RESIDENT OF THE RESTRICTED COUNTRIES, NOR DOES HE/SHE HAS A PRIMARY RESIDENCE OR DOMICILE IN THE RESTRICTED COUNTRIES, INCLUDING PUERTO RICO, THE U.S. VIRGIN ISLANDS, AND ANY OTHER POSSESSIONS OF THE RESTRICTED COUNTRIES (EXCLUDING HONG KONG SAR, MACAU, SAR, AND TAIWAN). IN ORDER TO BUY FANVERSE TOKENS AND BY BUYING FANVERSE TOKENS, THE BUYER COVENANTS, REPRESENTS, AND WARRANTS THAT NONE OF THE OWNERS OF THE ENTITY OF WHICH YOU ARE AN AUTHORIZED OFFICER, ARE A U.S. CITIZEN OR PERMANENT RESIDENT OF THE UNITED STATES, NOR DOES HE/SHE HAVE A PRIMARY RESIDENCE OR DOMICILE  IN THE UNITED STATES, INCLUDING PUERTO RICO, THE U.S. VIRGIN ISLANDS, AND ANY OTHER POSSESSIONS OF THE UNITED STATES. THE COMPANY SHALL RESERVE THE RIGHT TO REFUSE SELLING FANVERSE TOKENS TO ANYONE WHO DOES NOT MEET CRITERIA NECESSARY FOR THEIR BUYING, AS SET OUT HEREUNDER AND BY THE APPLICABLE LAW. IN PARTICULAR, THE COMPANY MAY BUT IS NOT OBLIGATED TO REFUSE SELLING FANVERSE TOKENS TO U.S. CITIZENS, PERMANENT RESIDENTS OF THE UNITED STATES AND THOSE USERS WHO DO NOT MEET ANY OTHER CRITERIA SPECIFIED HEREIN. IT IS ALSO FORBIDDEN TO PURCHASE FANVERSE TOKENS USING FUNDS THAT CAME FROM ILLEGAL OR UNETHICAL SOURCES AND BY BUYING FANVERSE TOKENS HEREUNDER, THE BUYER REPRESENTS AND WARRANTS THAT HIS/HER FUNDS IN NO WAY CAME FROM ILLEGAL OR UNETHICAL SOURCES, THAT THE BUYER IS NOT USING ANY PROCEEDS OF CRIMINAL OR ILLEGAL ACTIVITY, AND THAT NO TRANSACTIONS INVOLVING FANVERSE TOKENS ARE BEING USED TO FACILITATE ANY CRIMINAL OR ILLEGAL ACTIVITY.
            p 6. 
              strong RISK TEST COVENANT
              | : BUYER COVENANTS HE/SHE IS NOT SUBJECT TO ANY RISK CAPITAL TEST APPLICABLE TO BUYERS IN CERTAIN U.S. STATES, AND THAT NO FANVERSE TOKENS ARE BEING USED OR ACQUIRED IN CONTRAVENTION OF APPLICABLE DOMESTIC SECURITIES RULES.
            h2.h3 DISCLAIMER
            p 1. We have consulted with our legal counsel, and have been advised that the FanVerse Token or its related sale is not considered a security. The Company is separate from the Token and the FanVerse Network. The FanVerse Token is not a security since it is simply a form of payment accepted by the FanVerse Network—users have no rights attached to the Token, outside of the participation access provided by ownership of the token. If we determine that any service offering of the Company does fall within the scope of a law or regulation we may apply to have it regulated in our respective jurisdiction once the Token Sale has closed.
            p 2. The Token is not an investment product. This document does not constitute investment advice or counsel or solicitation for investment in any security and shall not be construed in that way.
            p 3. This document does not constitute or form part of, and should not be construed as, any offer for sale or subscription of, or any invitation to offer to buy or subscribe for, any securities, nor for the  Tokens.
            p 4. The Token Sale is not a sale of a company share of stock/derivative. It is a sale of a digital asset.
            p 5. The purchase price of the Tokens is quoted in cryptocurrencies only and no determination of value in terms of fiat currency will be made.
            p 6. The payment for the Tokens may be made by Users only in the cryptocurrencies mentioned on the Website and not in any fiat currency, in the manner specified in the Website and/or any of the Agreements.
            p 7. The Tokens offer no rights to profits of the Company.
            p 8. The Tokens are not designed or disingenuously devised to acquire stock or money, or any expectation of profits.
            p 9. The Tokens may or may not be listed on various secondary markets for trading. However such trading is incidental and non-consequential to the primary purpose and service utility of FanVerse Tokens on the FanVerse Network.
            p 10. The Company expressly disclaims any and all responsibility for any direct or consequential loss or damage of any kind whatsoever arising directly or indirectly from: (i) reliance on any information contained in this document, the FanVerse Whitepaper; the Website; the Agreements; and (ii) any error, omission or inaccuracy in any such information or (iii) any action resulting therefrom.
            p 11. Any usage of the term “currency” herein is a general term associated with an internal ledger system, built into the FanVerse software protocol; as it relates to the internal market value within the FanVerse network. The Company and its Affiliated Parties expressly disclaim any representation that the Company seeks to operate as an instrument of interstate commerce, “money”, or monetary instruments regulated by relevant governmental authorities inside or outside of the United States.
            p 12. By purchasing Tokens from any country during the Token Sale and/or using them in connection with the FanVerse blockchain network, you will be bound by this document and all terms incorporated by reference.
            p 13. This document or any of the Agreements will not be interpreted against one party merely as it was drafted by the party.
            p 14. The Annexures “A”, “B”, “C” and “D” are each an integral part of this document and should be read together.
            p You agree to the above terms and disclaimers required to receive FanVerse Tokens during this Token sale, including
            p 
              | Annexure A–Description of Company, Network and Tokens; 
              br
              | Annexure B–Token Sale Procedures and Specifications;
              br
              | Annexure C–Certain Risks Relating to Purchase, Sale and Use of Tokens;
              br
              | Annexure D–FanVerse Token Sale Terms and Conditions;
            p and you specifically agree to the resolution of any dispute, controversy or claim by way of arbitration in accordance with Clause 9 of Annexure D.
            h2.h3 Annexure A
            p 1. Overview of Company and Affiliates
            p FanVerse Inc. is a British Virgin Islands international business company whose business is to operate an NFT marketplace for content creators and influencers.

            p 2. Overview of Network and Tokens
            p The FanVerse Network is an NFT marketplace and a custom NFT launchpad with a mission to provide influencers and their fans a place where influencers have control over their content while fans get greater and more fulfilling experiences through the various consumer touchpoints that bring the user and creator closer together. FanVerse Tokens enable use of the FanVerse Network by serving as the token required for in-platform micropayments, NFT bidding/purchasing, staking and the payment of marketplace fees while incentivising the development of communities and the sustenance of engagement through user-creator centric social activities. This is implemented through dynamic staking pools that allow both users and influencers to passively earn FanVerse Tokens via the different types of NFTs that can be staked on the FanVerse Network.
            p Any creator or influencer can create digital assets (also known as NFTs) on the FanVerse Network. Further details pertaining to the FanVerse Network may be found on the published whitepaper available on the Website.
            h2.h3 Annexure B
            p 
              strong Token Sale Procedures and Specifications
            p 
              strong 1. TOKEN SALE PROCEDURES
            p 1.1 Private Sale, Pre-Sale and Public Sale
            p.ml-1 (a) Subject to Clause 1.1 (e), the Private Sale, the Pre-Sale and the Public Sale will each commence and end in accordance with the dates and times stated on the Website (as may be updated from time to time), provided that the Token Sale will end once the Company confirms that it has reached its maximum target of raising proceeds through the sales of the Tokens. For the purpose of ascertaining whether the Company has reached its maximum target, the Company may use such methodology as it considers appropriate. 
            p.ml-1 (b) The price per Token, subject to the applicable discounts and bonuses, if any, during the Private Sale, the Pre-Sale and the Public Sale shall be stated on the Website or the website of the designated service provider or otherwise communicated to select Purchasers. Unless otherwise specified by the Company in writing, the price per Token is exclusive of all applicable taxes (including, without limitation, sales, use, withholding and income tax, but excluding tax on the net income of the Company).
            p.ml-1 (c) The minimum and maximum purchase amount for each purchase transaction during the Token Sale shall be as stated on the Website (as may be updated from time to time) or designated third party platforms, such as Uniswap.
            p.ml-1 (d) In the event that any of the Tokens made available for purchase during the Token Sale remain unsold at the end of the Public Sale, such Tokens shall be reserved for future use. The Company reserves the right to undertake at any time additional Token Sales for use in the FanVerse Network.
            p.ml-1 (e) Suspension or Cancellation
            p.ml-2 (i) The Company may, in its sole discretion, suspend the Token Sale at any time for security reasons or if required by the applicable laws. Any suspension of the Token Sale shall be deemed to commence immediately from the date and time specified in the notice published by the Company on the Website or the website of the designated service provider. The Company shall have the right to modify, at its sole discretion, any of the dates and times referred to in these Terms to account for such period of suspension.
            p.ml-2 (ii) The Token Sale may be cancelled by the Company, in its sole discretion, in any of the following circumstances:
            p.ml-3 (A) the Company considers that there are security reasons for cancelling the Token Sale;
            p.ml-3 (B) the Company is required by the applicable laws to cancel the Token Sale;
            p.ml-3 (C) the Token Sale or the Company is required by the applicable laws to be licensed or approved or fundamentally restructured; and
            p.ml-3 (D) the Token Sale is suspended due to any Force Majeure events and the Company cannot reasonably expect the Token Sale to be resumed within ninety (90) days.
            p.ml-2 (iii) Any cancellation of the Token Sale shall be deemed to commence immediately from the date and time specified in the notice published by the Company on the Website.
            p.ml-1 (f) During any period of suspension or in the event that the Token Sale has ended or been cancelled, the Company will not be able to receive or accept any payment for the Tokens. Accordingly, any Purchaser who attempts to pay the Company for any purchase of the Tokens during such period risks losing their entire payment and the Company will neither be responsible or liable for recovering or returning any such payment nor liable for any losses incurred by the Purchaser in respect of the foregoing.
            p 1.2 Procedures and Conditions for Purchase
            p.ml-1 (a) A Purchaser may purchase the Tokens directly from the Company during the Private Sale, the Pre-Sale or the Public Sale through the Website or such other locations as the Company may specify, including designated third party platforms, such as Uniswap.
            p.ml-1 (b) In order to purchase the Tokens during the Token Sale, unless specified by the Company in writing, the Purchaser must:
            p.ml-2 (i) register for the Token Sale in accordance with the procedures set out on the Website or the website of the designated service provider;
            p.ml-2 (ii) complete the KYC Checks of the Company to the satisfaction of the Company, if any;
            p.ml-2 (iii) comply with these Terms and all relevant instructions of the Company, as provided on the Website or otherwise notified to such Purchaser from time to time; and maintain a fully operational and valid wallet which complies with the requirements prescribed by the Company and whose address has been whitelisted by the Company. The Tokens purchased during the Token Sale shall be transferred into the wallet identified by the Purchaser to the Company or to the Company’s designated service providers.
            p.ml-1 (c) During the Token Sale, unless otherwise agreed by the Company in writing, purchases of the Tokens shall be payable in ETH or any specified cryptographic tokens at the applicable ETH or the specified cryptographic tokens price determined by the Company, as shall be specified on the Website or the website of the Company’s designated service providers. All payments for the Tokens must be made to the Company in accordance with the payment instructions provided by the Company on the Website or the website of the Company’s designated service providers. Failing compliance with the foregoing, (i) the Purchaser bears the risk that the Company may not receive the payment, and such payment shall be regarded as invalid, and (ii) the Company shall owe no obligation to the Purchaser. The Company reserves the right to adjust the price per Token, at its sole discretion, during the sale period.
            p.ml-1 (d) Each Purchaser shall comply with these Terms (in particular, the provisions in this Clause 1.2). The Company shall not be responsible for any delays, losses, costs, non-delivery of the Tokens or other issues arising from any non-compliance.
            p.ml-1 (e) The Company is under no obligation to issue any replacement Tokens, in the event that any Token or private key to any wallet is lost, stolen, malfunctioning, destroyed or otherwise inaccessible for any reason.
            p 1.3 Subject to these Terms, the issue and the transfer of the Tokens to the respective wallets of the Purchasers will take place as soon as practicable after the completion of the Token Sale (as determined by the Company in its sole and absolute discretion) if not earlier. In respect of any Tokens purchased by any Purchaser during the Private Sale, the issue and transfer of the Tokens to the Purchaser shall be subject to the expiry of any applicable vesting period.
            p 1.4 The Purchaser shall be responsible for implementing and maintaining adequate security measures for purchasing, storing and using the Tokens, including the safe-keeping of any private keys, identification or access credentials of the Purchaser’s wallet.
            p 
              strong 2. REFUND
            p 2.1 All purchases of the Tokens from the Company during the Token Sale are final and save as required by the applicable law, there shall be no refunds.
            p 2.2 All costs and risks arising from or relating to any refund of payment made during the Token Sale shall be borne by the Purchaser fully.
            p 2.3 Any refund made by the Company to any Purchaser pursuant to these Terms shall be made in the currency of the original payment (unless otherwise agreed by the Company and the Purchaser) without any interest and less the expenses that the Company has incurred or may incur in future in connection with such refund, including, without limitation, any transaction, network or exchange fees and all reasonable transaction costs incurred by the Company in connection with the Token Sale.
            p 2.4 The Company shall not be responsible for any delay or failure to perform any refund where such delay or failure arises from the relevant Purchaser failing to provide the Company with the requested information within the time stipulated by the Company.
            p 
              strong 3. USE OF PROCEEDS FROM TOKEN SALE
            p 3.1 The ETH or cryptographic token proceeds from Company’s sale of Tokens will be used: to compensate technical and non-technical staff, to cover the Company’s activities, marketing costs and operating expenses, and for other general working capital purposes.
            h2.h3 Annexure C
            p 
              strong Certain Risks Relating to Purchase, Sale and Use of Tokens

            p Important Note: As noted elsewhere in these Terms, the Tokens are not being structured or sold as securities or any other form of investment contract or product. Accordingly, none of the information presented in this Annexure C is intended to form the basis for any investment decision, and no specific recommendations are intended. Company expressly disclaims any and all responsibility for any direct or consequential loss or damage of any kind whatsoever arising directly or indirectly from: (i) reliance on any information contained in this Annexure C, (ii) any error, omission or inaccuracy in any such information, or (iii) any action resulting from such information.
            p.underline By purchasing, holding and using Tokens, You expressly acknowledge and assume the following risks:
            p 1. Risk of Losing Access to Tokens Due to Loss of Private Key(s)
            p A private key, or a combination of private keys, is necessary to control and dispose of Tokens stored in Your digital wallet or vault. Accordingly, loss of requisite private key(s) associated with Your digital wallet or vault storing Tokens will result in loss of such Tokens. Moreover, any third party that gains access to such private key(s), including by gaining access to login credentials of a hosted wallet service You use, may be able to misappropriate Your Tokens.
            p 2. Risks Associated with Uniswap
            p The Uniswap protocol may be used for the purchase of Tokens during the Token Sale and/or the trading of Tokens.
            p Uniswap is a decentralized finance (DeFi) project built on Ethereum and serves as the largest decentralized exchange and automated market maker, which is a type of decentralized exchange protocol that relies on a mathematical formula to price assets. Uniswap is completely open-sourced. The open-source structure of the Uniswap protocol means that Uniswap may be susceptible to developments by users or contributors which could damage Uniswap and could affect the utilization of the FanVerse Network and the Tokens.
            p As an open source project, Uniswap will not be represented, maintained or monitored by an official organization or authority. Third parties may introduce weaknesses or bugs into the core infrastructure elements of the Uniswap protocol which may negatively impact Uniswap. Such events may result in a loss of trust in the security and operation of Uniswap and a decline in user activity and could negatively impact the market price of the Tokens.
            p Users may suffer impermanent loss when providing liquidity to Uniswap, deterring a portion of potential users.
            p 3. Risk of Validator Attacks
            p As with other decentralized cryptographic tokens based on the Blockchain protocol, the Tokens are susceptible to attacks by network validators in the course of validating Token transactions on the Blockchain, including, but not limited, to double-spend attacks. Any successful attacks present a risk to the FanVerse Network and the Tokens, including, but not limited to, accurate execution and recording of transactions involving Tokens.
            p 4. Risk of Hacking and Security Weaknesses
            p Hackers or other malicious groups or organizations may attempt to interfere with the FanVerse Network or the Tokens in a variety of ways, including, but not limited to, malware attacks, denial of service attacks, consensus-based attacks, Sybil attacks, smurfing, and spoofing. 
            p 5.Risks Associated With Markets for Tokens

            p The Tokens are intended to be used within the FanVerse Network, and Company may not support or otherwise facilitate any secondary trading or external valuation of Tokens. This restricts the contemplated avenues for using Tokens to the provision or receipt of services on the FanVerse platform, and could therefore create illiquidity risk with respect to the Tokens You hold. Even if secondary trading of Tokens is facilitated by third party exchanges (like Uniswap), such exchanges may be relatively new and subject to little or no regulatory oversight, making them more susceptible to fraud or manipulation.
            p Furthermore, to the extent that third parties do ascribe an external exchange value to Tokens (e.g., as denominated in a digital or fiat currency), such value may be extremely volatile and diminish to zero.
            p A decrease in the price of a single blockchain assets may cause volatility in the entire blockchain asset industry and may affect other blockchain assets including the Tokens. For example, a security breach that affects user confidence in BTC or ETH may affect the industry as a whole and may also cause the price of the Tokens and other blockchain assets to fluctuate.
            p 6. Risk of Uninsured Losses
            p Unlike bank accounts or accounts at some other financial institutions, Tokens are uninsured unless You specifically obtain private insurance to insure them. Thus, in the event of loss of Tokens or loss of utility value, there is no public insurer, such as the Federal Deposit Insurance Corporation, or private insurance arranged by Us, to offer recourse to You.
            p 7. Risks Associated With Uncertain Regulations and Enforcement Actions
            p The regulatory status of the Tokens and distributed ledger technology is unclear or unsettled in many jurisdictions. It is difficult to predict how or whether regulatory agencies may apply existing regulation with respect to such technology and its applications, including the FanVerse Network and the Tokens. It is likewise difficult to predict how or whether legislatures or regulatory agencies may implement changes to law and regulation affecting distributed ledger technology and its applications, including the FanVerse Network and the Tokens. Regulatory actions could negatively impact the FanVerse Network and the Tokens in various ways, including, for purposes of illustration only, through a determination that Tokens are a regulated financial instrument that requires registration or licensing. Company may cease operations in a jurisdiction in the event that regulatory actions, or changes to law or regulation, make it illegal to operate in such jurisdiction, or commercially undesirable to obtain the necessary regulatory approval(s) to operate in such jurisdiction.
            p 8. Risks Arising From Taxation
            p The tax characterization of Tokens is uncertain. You must seek Your own tax advice in connection with purchasing Tokens, which may result in adverse tax consequences to You, including withholding taxes, income taxes and tax reporting requirements.
            p 9. Risks Associated With the Development and Maintenance of the Network
            p The FanVerse Token is a newly formed token and the FanVerse Network is a newly formed network and may undergo significant changes over time. Although we intend for the Tokens and FanVerse Network to follow the specifications set forth in Annexure A, and we intend to take commercially reasonable steps toward promoting the benefits of the FanVerse Network, the community of network validators may make changes to the specifications of the Tokens or FanVerse Network for any number of reasons. 
            p This could create the risk that the Tokens or FanVerse Network, as further developed and maintained, may not meet Your expectations at the time of purchase. Furthermore, despite our good faith efforts to promote the benefits of the FanVerse Network, it is still possible that the FanVerse Network will experience malfunctions or otherwise fail to be adequately developed or maintained, which may negatively impact the FanVerse Network and Tokens.
            p 10. Risk of an Unfavorable Fluctuation of ETH, BTC, and Other Currency Value
            p The FanVerse Team intends to use certain proceeds from selling Tokens to fund marketing expenses, its activities, support research and development and the maintenance of the FanVerse Network, and other general working capital purposes, as described further in Annexure B. The proceeds of the Token sale will be denominated in ETH, and converted into other cryptographic and fiat currencies. In addition, some sales of the Tokens may also be denominated in fiat currencies. If the value of ETH or other currencies fluctuates unfavorably during or after the Token Sale period, the Company team may not be able to fund said activities, or may not be able to support research and development or maintenance of the FanVerse Network in the manner that it intended.
            p 11. Risk of Dissolution of the Company or Network
            p It is possible that, due to any number of reasons, including, but not limited to, an unfavorable fluctuation in the value of ETH (or other cryptographic and fiat currencies), decrease in the Tokens’ utility, the failure of commercial relationships, lack of use of the FanVerse Network, or intellectual property ownership challenges, the FanVerse Network may no longer operate and/or the Company may dissolve.
            p 12. Risks Involving Cloud Computing and Storage
            p Network validators may be operated by third parties. Since operators of network validators (including those operated by the Company may use third-party cloud computing and storage providers, the FanVerse Network is susceptible to a number of risks related to the storage of data in the cloud, which may be compromised in the event of a cyber-attack or other malicious activity. Similarly, the FanVerse Network may be interrupted and become temporarily unavailable in the event of such an attack or malicious activity. Because users can use a variety of hardware and software that may interface with the FanVerse Network, there is the risk that the FanVerse Network may become unavailable or interrupted based on a failure of interoperability or an inability to integrate these third-party systems and devices with the FanVerse Network. The risk that the FanVerse Network may face interruptions and security vulnerabilities could adversely affect the FanVerse Network and therefore the future utility of any Tokens that You hold.
            p 13. Risks Arising From No Network Control
            p The FanVerse Network is comprised of open-source technologies that depend on a network of computers to run certain software programs to process transactions. Because of this less centralized model, the Company has limited control over the FanVerse Network. In addition, the Buyers are not and will not be entitled, to vote or receive dividends, nor will anything be construed to confer on the Buyers any right to vote for the election of directors of the Company, or to receive notice of meetings, or to receive equity rights or otherwise.
            p 14. Unanticipated Risks
            p Cryptographic tokens such as the Tokens are a new and untested technology. In addition to the risks included in this Annexure C, there are other risks associated with Your purchase, holding and use of Tokens, including those that the Company cannot anticipate. Such risks may further materialize as unanticipated variations or combinations of the risks discussed in this Annexure C.
            h2.h3 Annexure D
            p 
              strong FanVerse Token Sale Terms and Conditions
            p These Terms and Conditions (“
              strong T&C
              | ”) affect Your legal rights and obligations which include but are not limited to waivers of specific rights and limitation of liability. The sales of the Tokens by the Company during the Token Sale (comprising the Private Sale, the Pre-Sale and the Public Sale) shall be subject to these T&C. Please read and understand them carefully before You move ahead. If You do not agree to any of these T&C then You should immediately cease the use of the FanVerse  website, 
              a(href="https://fanversecoin.io") https://fanversecoin.io (“
              strong Website
              | ”) and delete any information collected from it and refrain from use, purchase, sale or conduct of any other transaction, whether online or offline, related to FanVerse tokens (“
              strong Token(s)
              | ”).
            p 
              strong PURCHASE LIMITATIONS
              | . UNITED STATES CITIZENS AND RESIDENTS, CHINESE CITIZENS AND RESIDENTS, CANADIAN CITIZENS AND RESIDENTS, AND SINGAPOREAN CITIZENS AND RESIDENTS (collectively Referred to as “
              strong Restricted Countries
              | ”) MAY NOT BE ELIGIBLE TO PARTICIPATE IN THE TOKEN SALE BASED ON THE SOLE DISCRETION OF THE COMPANY. UNLESS WAIVED BY THE COMPANY, THE BUYER IS ONLY ALLOWED TO PURCHASE FANVERSE TOKENS IF AND BY BUYING FANVERSE TOKENS HE/SHE COVENANTS, REPRESENTS, AND WARRANTS THAT HE/SHE IS NEITHER A CITIZEN NOR PERMANENT RESIDENT OF THE RESTRICTED COUNTRIES, NOR DOES HE/SHE HAS A PRIMARY RESIDENCE OR DOMICILE IN THE RESTRICTED COUNTRIES, INCLUDING PUERTO RICO, THE U.S. VIRGIN ISLANDS, AND ANY OTHER POSSESSIONS OF THE RESTRICTED COUNTRIES (EXCLUDING HONG KONG SAR, MACAU, SAR, AND TAIWAN). IN ORDER TO BUY FANVERSE TOKENS AND BY BUYING FANVERSE TOKENS, THE BUYER COVENANTS, REPRESENTS, AND WARRANTS THAT NONE OF THE OWNERS OF THE ENTITY OF WHICH YOU ARE AN AUTHORIZED OFFICER, ARE A U.S. CITIZEN OR PERMANENT RESIDENT OF THE UNITED STATES, NOR DOES HE/SHE HAVE A PRIMARY RESIDENCE OR DOMICILE IN THE UNITED STATES, INCLUDING PUERTO RICO, THE U.S. VIRGIN ISLANDS, AND ANY OTHER POSSESSIONS OF THE UNITED STATES. THE COMPANY SHALL RESERVE THE RIGHT TO REFUSE SELLING FANVERSE TOKENS TO ANYONE WHO DOES NOT MEET CRITERIA NECESSARY FOR THEIR BUYING, AS SET OUT HEREUNDER AND BY THE APPLICABLE LAW. IN PARTICULAR, THE COMPANY MAY BUT IS NOT OBLIGATED TO REFUSE SELLING FANVERSE TOKENS TO U.S. CITIZENS, PERMANENT RESIDENTS OF THE UNITED STATES AND THOSE USERS WHO DO NOT MEET ANY OTHER CRITERIA SPECIFIED HEREIN. IT IS ALSO FORBIDDEN TO PURCHASE FANVERSE TOKENS USING FUNDS THAT CAME FROM ILLEGAL OR UNETHICAL SOURCES AND BY BUYING FANVERSE TOKENS HEREUNDER, THE BUYER REPRESENTS AND WARRANTS THAT HIS/HER FUNDS IN NO WAY CAME FROM ILLEGAL OR UNETHICAL SOURCES, THAT THE BUYER IS NOT USING ANY PROCEEDS OF CRIMINAL OR ILLEGAL ACTIVITY, AND THAT NO TRANSACTIONS INVOLVING FANVERSE TOKENS ARE BEING USED TO FACILITATE ANY CRIMINAL OR ILLEGAL ACTIVITY.
            p 
              strong RISK TEST COVENANT
              | : BUYER COVENANTS HE/SHE IS NOT SUBJECT TO ANY RISK CAPITAL TEST APPLICABLE TO PURCHASERS IN CERTAIN U.S. STATES, AND THAT NO FANVERSE TOKENS ARE BEING USED OR ACQUIRED IN CONTRAVENTION OF APPLICABLE DOMESTIC SECURITIES RULES.
            p 1. Introduction
            p.ml-1 1.1 These T&C including any and all Accompanying Documents, constitute a legally binding agreement between the Website Owner and any and all Users as deﬁned herein in the Deﬁnitions (Clause 2).
            p.ml-1 1.2 Every person accessing the Website or using the Token shall comply with the T&C. Continued usage of the Website or the use of the Token means that the User complies with the provisions of these T&C and any and all accompanying documents and provides valid consent to the same as per the laws applicable to You.
            p.ml-1 1.3 If any User does not agree with these T&C in general or any part thereof, such Users shall refrain from the use of the Website and of the Tokens in any form.
            p 2.Definitions   
            p The terms defined below in this section will have the meaning assigned to them here throughout this entire document unless explicitly mentioned otherwise:         
            p.ml-1 (a) “
              strong Accompanying Documents
              | ” means other documents related to the FanVerse Token Sale in addition to these T&C including but not limited to the Whitepaper, Token Sale Privacy Policy, Token Sale Agreement and KYC and AML guidelines for the Token Sale. In case of any discrepancies between Accompanying Documents and the T&C, the latter shall apply.
            p.ml-1 (b) “
              strong Account
              | ” means a User’s digital account created and maintained on the Website, which may be used to purchase FanVerse Tokens during the FanVerse Token Sale and later to store, view and Use the Tokens in other permitted ways. A User is given the access to an Account upon its successful creation through providing the Website with all the required information. Only authorized Users have a right to purchase Tokens on the terms provided herein.
            p.ml-1 (c) “
              strong Affiliated Parties
              | ” means any persons or entities that are related to the FanVerse Team, including, but not limited to partners, employees, agents and contractors of the Company.
            p.ml-1 (d) “
              strong Agreements
              | ” shall mean the Terms and all its Annexures, including these T&C, and any other rules, policies or procedures that may be issued by the FanVerse Team and published from time to time on the Website (including the Accompanying Documents).
            p.ml-1 (e) “
              strong Applicable Law
              | ” means the laws of the British Virgin Islands.
            p.ml-1 (f) “
              strong Cryptocurrency
              | ” means digital currency, represented by Bitcoin (“
              strong BTC
              | ”) or Ethereum (“
              strong ETH
              | ”) or any other permitted digital currency used by Users to purchase Tokens.
            p.ml-1 (g) “
              strong FanVerse Team
              | ” means the creators of the FanVerse idea and initiators of the FanVerse Token Sale as presented on the Website, who are involved in the development of the FanVerse Network.
            p.ml-1 (h) “
              strong FanVerse Tokens
              | ” or “
              strong Tokens
              | ” means cryptographic tokens, which are software digital products (not cryptocurrency), created on the Ethereum blockchain which can be used as a utility on the FanVerse Network. The mentioned Tokens are not securities, are not registered with any government entity as a security, and shall not in any case be considered as such. Tokens, are not intended to be a commodity or any other kind of ﬁnancial instrument, do not represent any share, stake or security or equivalent rights, including, but not limited to, any right to receive future revenue shares and intellectual property rights, and do not represent any ownership rights.
            p.ml-1 (i) “
              strong FanVerse Network
              | ” means a software platform that operates as a non-fungible token (“
              strong NFT
              | ” or “
              strong NFTs
              | ”) marketplace for content creators to produce content and mint said content into an NFT to sell to platform users. Tokens are not shares, stock or any other investment instrument and the FanVerse Network is not an investment platform or stock exchange. Tokens are governance tokens used to purchase NFTs, amongst other utility features.
            p.ml-1 (j) “
              strong KYC Checks
              | ” means know-your-customer checks as required by the applicable laws, including but not limited to any applicable anti-money laundering rules and any applicable countering the financing of terrorism rules.

            p.ml-1 (k) “
              strong Party
              | ” refers to either the Website Owner or the User who are bound by these T&C and “
              strong Parties
              | ” refer to both of them together.
            p.ml-1 (l) “
              strong Pre-Sales
              | ” means an event where the FanVerse Team sells a certain number of FanVerse Tokens to a few selected purchasers following the Private Sales, but prior to the Public Sales.

            p.ml-1 (m) “
              strong Private Sales
              | ” means the unannounced and private sale of the FanVerse Tokens to specific purchasers known to the FanVerse Team following a direct invitation.
            p.ml-1 (n) “
              strong Public Sales
              | ” means the open sale of FanVerse Tokens to the public.
            p.ml-1 (o) “
              strong Use
              | ” means use of the Website in any manner and/or use of the Token(s) in any manner including but not limited to sale, purchase, mining and transfer.
            p.ml-1 (p) “
              strong User
              | ” (also referred to as “
              strong You
              | ” or “
              strong Your
              | ” as required) means any person, who uses the Website and/or Token, with or without prior registration and authorization using the Account. The Website Owner reserves its right to set forth at any time upon its own discretion special eligibility or other requirements to certain Users to participate in a certain phase of Token Sale (i.e. Accredited participants, etc.) as shall be mentioned on the Website and/or the Accompanying Documents.
            p.ml-1 (q) “
              strong Website Owner
              | ” (also referred to as “
              strong Company
              | ”, “
              strong We
              | ”, “
              strong Us
              | ”) means FanVerse Inc., a British Virgin Islands international business company. The Company is not a ﬁnancial entity, investment entity, investment advisor, financial consultant or a partner, employer, agent or advisor for any User.
            p.ml-1 (r) “
              strong Website
              | ” means the website 
              a(href="https://fanversecoin.io") https://fanversecoin.io 
              | which is maintained and owned by the Website Owner.
            p.ml-1 (s) “
              strong Whitepaper
              | ” means one of the Accompanying Documents published by the Website Owner on the Website, describing the idea, purpose, technical and marketing details of the FanVerse Network, as well as respective tokens allocation and distribution plan.
            p.ml-1 (t) “
              strong Token Sale
              | ” means an offering Tokens to eligible Users to purchase Tokens which can be used on the FanVerse Network. The Tokens are available in the Token Sale for a limited period of time (whether by one or multiple Private Sales, Pre-Sales or Public Sales), and will be available in the future through the programs and/or according to the respective campaigns as described on the Website and the Whitepaper.

            p
              strong 3. General Provisions and Notes
            p.ml-1 3.1 
              strong Important Note for Residents of United States of America, China, Canada, and Singapore and their overseas territories or possessions (“Restricted States”): 
              | The citizens, people domiciled in the Restricted States and residents of the Restricted States are not eligible and not allowed to participate in the Token Sale owing to regulatory issues. The restrictions on Use of the Website and Tokens remain at all stages and they are not eligible to obtain the Tokens through any manner or any transaction. The above-mentioned restrictions also extend to companies or other legal entities created and/or owned by citizens and residents of the Restricted States. Your continued Use of the Website and/or the Tokens means that You are not domiciled, a resident or a citizen of a Restricted State or own a company or other legal entity based in the Restricted States. For other Users, if You become domiciled, a resident or a citizen of a Restricted State or own a company or other legal entity based in the Restricted States, You will immediately cease to Use the Website and/or Tokens and inform us immediately.
            p.ml-1 3.2 hese T&C are effective at the time the User begins using the Website. The Users may withdraw from their obligation under the T&C at any time by discontinuing the use of the Website and surrendering the Tokens held by them without any compensation or any other claims of any form against the Website Owner, FanVerse Team or the Company.
            p.ml-1 3.3 The User acknowledges and accepts that these T&C are subject to change, modiﬁcations, amendments, alterations or supplements at any time without prior written notice, at Website Owner’s sole discretion. The User’s continued use of the Website after any amendments or alterations of these Terms and/or the Website shall constitute the User’s consent hereto and acceptance hereof. In any case, the date of the most recent amendments and alterations will be indicated at the top of these Terms.
            p.ml-1 3.4 The User acknowledges and accepts that the Website Owner reserves the right, at its own and complete discretion and at any time to modify or to temporarily or permanently suspend or eliminate the Website, and/or disable any access to the Website for any reason.
            p.ml-1 3.5 By using this Website and the FanVerse Network each User covenants, represents, and warrants that (under the Applicable Law and law of the country of User’s residence and citizenship):
            p.ml-2 (a) they are of an age of majority to enter into these Agreements (at least 18 years of age);
            p.ml-2 (b) hey meet all other eligibility and residency requirements, and is fully able and legally competent to use the Website and the FanVerse Network, enter into agreement with the Website Owner and in doing so will not violate any other agreement to which they are a party;
            p.ml-2 (c) they have necessary and relevant experience and knowledge to deal with cryptographic tokens, cryptocurrencies and Blockchain-based systems, as well as full understanding of their framework, and is aware of all the merits, risks and any restrictions associated with cryptographic tokens (their purchase and use), cryptocurrencies and Blockchain-based systems, as well as knows how to manage them, and is solely responsible for any evaluations based on such knowledge;
            p.ml-2 (d) if they are a corporation, governmental organization or other legal entity, the User has the right, power and authority to enter into this agreement on behalf of the corporation, governmental organization or other legal entity and bind them to these terms;
            p.ml-2 (e) they will not be using the Website and the FanVerse Network for any illegal activity, including but not limited to money laundering and the ﬁnancing of terrorism;
            p.ml-2 (f) they are not a resident or citizen of the Restricted States as speciﬁed in paragraph 3.1 hereof.
            p.ml-1 3.6 A User shall not use the Website and the FanVerse Network if under the Applicable Law and/or the law of the country of the User’s residence they are prohibited from using it. Any User that is in any manner limited or prohibited from the purchase, possession, transfer, use or other transaction involving any number of Tokens under the mentioned law should not access this Website and is prohibited from accessing, referencing, engaging, or otherwise using this Website.
            p.ml-1 3.7 Before using the Website and/or making any offer for purchase or purchasing any Tokens, a User is obliged to read carefully any other Accompanying Documents that follow these Terms and regulate the Website usage and Token Sale procedure. The mentioned Accompanying Documents shall be regarded as an inalienable part hereof and their terms of use shall form a part of these T&C. By using the Website, each and any User conﬁrms that they have fully read and understood not only these T&C, but any Accompanying Documents and fully accepts their terms.
            p.ml-1 3.8 The pages of the Website may contain links to third-party websites and services, including but not limited to Uniswap. Such links are provided for the User’s convenience, but their presence does not mean that they are recommended by the Website Owner. The Website Owner does not guarantee their safety and conformity with any User expectations. Furthermore, the Website Owner is not responsible for maintaining any materials referenced from another site and makes no warranties for that site or respective service. The Website Owner assumes no obligations in the event of any damage or loss, or any other impact, directly or indirectly resulting from the use of any content, goods or services available on or through any such third-party websites and resources.
            p
              strong 4. Registration of Accounts for Sale of Tokens and Use of Tokens

            p.ml-1 4.1 If You fill in the requisite forms and/or complete additional procedures prescribed under these T&C and Accompanying Documents, an Account will be created by the Website Owner or its designated service provider for the purpose of participation in the Token Sale and Use of the Tokens in the future. This creation of an Account on the Website or with said designated service provider is being made at Your sole request and with Your chosen login details and password. You warrant that any and all information provided for the purpose of Your Account creation is valid, current, complete and accurate. Registration data and other information submitted by You and used for the creation of the Account is used subject to the accompanying Privacy Policy and other Accompanying Documents available on the Website.
            p.ml-1 4.2 You hereby expressly consent that you are solely responsible for the use of Your login and password for the Account, for any registration data provided for Account creation, and for any actions done during any use of Your Account. You agree to keep Your login details and password private and to immediately notify the Website Owner of any unauthorized Account activity You may be aware of and modify Your login information respectively. You are solely responsible for any loss or damage You or We may face as a result of Your failure to do so, and we may undertake legal proceedings to recover any such losses.
            p.ml-1 4.3 You may request to deactivate or terminate Your Account on the Website, at any time and for any reason by sending a request for the same in the contact form on the Website. We may recover any dues which resulted from the use of Your Account at the time of termination of the Account and/or even after the termination of the Account through all possible means if they are discovered after the termination of the Account.
            p.ml-1 4.4 We may terminate Your use of and registration with the Website at any time if You violate these T&C or any other Accompanying Documents of the Website Owner, at our sole discretion and without prior notice and/or without any liability or further obligation of any kind whatsoever to You or any other Party, when we ﬁnd such measures reasonable and/or necessary in a particular situation.
            p
              strong 5. Indemnity 
            p.ml-1 5.1 To the extent allowable under Applicable Law, the User shall indemnify, defend, and hold the Website Owner and/or its subsidiaries, Affiliated Parties, directors, officers, employees, agents, successors, and permitted assignees harmless from and against any and all claims, damages, losses, suits, actions, demands, proceedings, expenses, and/or liabilities (including but not limited to reasonable attorneys’ fees incurred and/or those necessary to successfully establish the right to indemniﬁcation) ﬁled/incurred by any third party against the Website Owner arising out of a breach of any warranty, representation, or obligation of the User hereunder.
            p.ml-1 5.2 You shall not have any claim of any nature whatsoever against Us for any failure by Us to carry out any of our obligations under these Terms as a result of causes beyond our control, including but not limited to any strike, lockout, shortage of labor or materials, delays in transport, hacker attacks on the Website or any resources which have any relation to Token Sale, accidents of any kind, any default or delay by any sub-contractor or supplier of ours, riot, political or civil disturbances, the elements, by an act of state or government including regulatory action imposed, any delay in securing any permit, consent or approval required by Us, for the supply of products under these T&C or any other authority or any other cause whatsoever beyond our absolute and direct control.
            p
              strong 6. Exclusion of Warranties and Limitation of Liability Clause
            p.ml-1 6.1 Any and all purchases of Tokens through the Token Sale or any other future sales are ﬁnal and non-refundable. By purchasing the Tokens, the User acknowledges that neither Website Owner nor any other of its Affiliated Parties are required to provide a refund for any reason, and that the User will not receive or demand money or other compensation for any Tokens that is not used or remains unused for any reason.
            p.ml-1 6.2 This Website and the Tokens are provided on an “as is” basis and without any warranties of any kind, either expressed or implied. You assume all responsibility and risk with respect to Your use of the Website and buying of any number of Tokens and their use.
            p.ml-1 6.3 You hereby expressly agree that, to the maximum extent permitted by the Applicable Law, the Website Owner or its Affiliated Parties do not accept any liability for any damage or loss, including loss of any savings, business, revenue, or proﬁts, or future profits or loss of or damage to data, equipment, or software (direct, indirect, punitive, actual, consequential, incidental, special, exemplary or otherwise), resulting from any use of, or inability to use, this Website or the material, information, software, facilities, services or content on this Website, from buying of the Tokens or their use by the User, regardless of the basis, upon which the liability is claimed.
            p.ml-1 6.4 You understand and agree that the Website Owner and any of its Affiliated Parties shall not be held liable to and shall not accept any liability, obligation or responsibility whatsoever for any change of the value (if it is ever attributed to it) of the Tokens or other cryptocurrency. The Website Owner shall not provide to the User any refund possibility (payout liquidity) for the purchased Tokens. The User understands and expressly agrees that the Website Owner shall not guarantee in any way that Tokens might be sold or transferred during or after the Token Sale.
            p.ml-1 6.5 You understand and agree that it is Your sole obligation to ensure compliance with any legislation relevant to Your country of citizenship, residency or domicile concerning use of this Website and Use and buying of the Tokens, and that the Website Owner shall not accept any liability for any illegal or unauthorized use of this Website and use and buying of the Tokens. In case of any change in legislation in Your country of citizenship, residency or domicile which makes the Use of the Website and/or Tokens illegal, You agree to cease use of the Website and/or Tokens immediately and absorb any possible losses arising out of the same. You agree to be solely responsible for any applicable taxes imposed on Tokens that You propose to purchase and/or purchase hereunder.
            p.ml-1 6.6 The Website Owner does not warrant or represent that any information on the Website is accurate or reliable or that the Website will be free of errors or viruses that defects will be corrected, or that the service or the server that makes it available is free of viruses or other harmful components. The Website Owner shall not be liable for uninterrupted availability of the Website at all times, in all countries and/or all geographic locations, or at any given time.
            p.ml-1 6.7 Acquisition of Tokens does not represent an exchange of cryptocurrencies for any form of ordinary shares, and a holder of any Tokens, issued by Website Owner or acquired through any other manner is not entitled to any guaranteed form of interest, dividend or other revenue right. Holders of Tokens are only entitled to a limited right of the use of the Tokens in the FanVerse Network if it is successfully purchased and Used in accordance with the terms set out herein.
            p.ml-1 6.8 If Applicable Law does not allow all or any part of the above limitation of liability to apply to You, the limitations will apply to You only to the extent permitted by Applicable Law. You understand and agree that it is Your obligation to ensure compliance with any legislation relevant to Your country of domicile concerning use of the Website, and that You should not accept any liability for any illegal or unauthorized use of the Website. You agree to be solely responsible for any applicable taxes imposed on Tokens that You propose to purchase and/or purchase or the services provided by the Website hereunder.
            p.ml-1 6.9 Some jurisdictions do not allow the exclusion of certain warranties or disclaimer of implied terms in contracts with Users, so some or all of the exclusions of warranties and disclaimers in this section may not apply to You. In case of those situations, the T&C and Accompanying Documents will govern You to the maximum permissible limits.
            p
              strong 7. Disclaimers
            p.ml-1 7.1 Any cryptographic tokens that possess value in public markets, such as BTC or ETH, have demonstrated extreme ﬂuctuations in price over short periods of time on a regular basis. A Buyer of Tokens should be prepared to expect similar ﬂuctuations, both down and up, in the price of Tokens denominated in respective cryptocurrency (BTC or ETH) or fiat currencies of any jurisdictions. Such ﬂuctuations are due to market forces and represent changes in the balance of supply and demand. The Website Owner cannot and does not guarantee market liquidity for Tokens. By purchasing Tokens, You expressly acknowledge and represent that You fully understand that You may not be able to sell the Tokens in any markets and experience volatility in pricing and will not seek to hold the Website Owner liable for any losses or any special, incidental, or consequential damages arising from, or in any way connected to, the sale of Tokens.
            p.ml-1 7.2 The Tokens may be purchased through Uniswap. Uniswap is a cryptocurrency exchange which uses a decentralized network protocol. The protocol facilitates automated transactions between cryptographic tokens on the Ethereum blockchain through the use of smart contracts. Due to the nature of Uniswap, the Website Owner is not able to monitor or confirm any purchase, sale, or transfer of the Tokens made through Uniswap. Should You proceed to purchase any Tokens using Uniswap, You agree that You do so at your own risk and peril and You further agree that You comply with all applicable rules and regulations related to the purchase, sale, or transfer of the Tokens on Uniswap. 
            p.ml-1 7.3 The purchase of Tokens carries with it a number of risks. Prior to purchasing Tokens, You should carefully consider the risks listed herein and, to the extent necessary, consult an appropriate lawyer, accountant, or tax professional. If any of the risks are unacceptable to You, You should not purchase Tokens. By purchasing Tokens, and to the extent permitted by Applicable Law, You are agreeing not to hold the Website Owner or any affiliated entity liable for any losses or any special, incidental, or consequential damages arising from, or in any way connected, to the sale of Tokens, including losses associated with the risks set forth herein.
            p.ml-1 7.4 Should You proceed to purchase any Tokens and the Tokens fail to be suitable for the special or particular purpose as intended by You, we will not be liable to You for such unsuitability (including but not limited to accepting the return of, or refunding to You the purchase price of the respective Tokens).
            p.ml-1 7.5 We make no representations or warranties, whether express or implied, and assume no liability or responsibility for the proper performance of any services, online cryptocurrency services, assets or platforms such as Uniswap and/or the information, images or audio contained or related to the Website. You use all of the mentioned at Your own risk.
            p.ml-1 7.6 It is possible that the FanVerse Network will not be used by a large number of individuals, and other entities and that there will be limited public interest in the mentioned project. Such a lack of interest could impact the development of the FanVerse Network and potential use of it. Therefore, the success of the mentioned project cannot be predicted.
            p.ml-1 7.7 You recognize that the FanVerse Network is under continuous modifications and may undergo signiﬁcant changes continuously. You acknowledge that any expectations You may have regarding the form and functionality of the FanVerse Network may not be met upon continuous functioning of the mentioned project, for any number of reasons including continuous change in the project’s software source code.
            p.ml-1 7.8 The Website Owner and the respective FanVerse Team do not support any unfair or fraudulent practices. However, due to the risks associated with cryptocurrency and digital tokens markets (including those described in this Section), the User understands and accepts that while the FanVerse Team will make reasonable efforts to enhance the mentioned project, it is possible that the vision for the FanVerse Network may not be achieved.
            p.ml-1 7.9 We will take reasonable steps to exclude any viruses from the Website, but cannot guarantee or warrant that any material available for downloading from the Website will be free from infection, viruses and/or other code that has contaminating or destructive properties and accordingly no liability is accepted for viruses.
            p.ml-1 7.10 We are not responsible for the proper and/or complete transmission of the information contained in any electronic communication or of the electronic communication itself, nor for any delay in its delivery or receipt.
            p.ml-1 7.11 Security measures have been implemented to ensure the safety and integrity of any of the services related to the Token Sale. However, despite this, information that is transmitted over the internet or Blockchain may be susceptible to unlawful access and monitoring. In addition, we cannot ensure the safety and integrity of any services related to the Token Sale of any Tokens purchased, sold, or transferred through Uniswap.
            p.ml-1 7.12 The Tokens are unregulated. The Website Owner and/or the FanVerse Team or any of its Affiliated Parties is not a ﬁnancial institution and is currently not under supervision of any ﬁnancial supervisory authority. We do not provide any licensed ﬁnancial services, such as investment services, financial advisory, money changing, banking, fund management or investment advice. This Token Sale is not a public offering of equity or debt and consequently the Tokens have not been registered or qualified by a prospectus under the securities laws or regulations of any jurisdiction.
            p.ml-1 7.13 This document or any other document, produced and signed by the Website Owner, as well as the Website, and any of their content does not constitute an offer or solicitation to sell shares or securities.
            p.ml-1 7.14 None of the information or analyses presented are intended to form the basis for any investment decision, and no speciﬁc recommendations are intended, and the Website and the Tokens are not and does not offer and shall not be construed as an investment or ﬁnancial product. 
            p.ml-1 7.15 There are no warranties and/or guarantees given that Tokens will be listed or made available for exchange for other cryptographic tokens and/or ﬁat money, and no guarantees are given whatsoever with respect to the capacity (volume) of such potential exchange. It is explicitly cautioned that such exchange, if any, might be subject to poorly understood regulatory oversight, and We do not give any warranties in regard to any exchange services providers. In any case, We will not enable the exchange of Tokens for ﬁat currency. You may not, at any given time, be able to acquire or dispose of the Tokens due to potential lack of liquidity.
            p.ml-1 7.16 It is possible that even if the Token and the FanVerse Network is fully functional, You may not be able to participate in any intended or implied projects and use Your Tokens. By holding Tokens, You acknowledge that You understand that while every effort will be made to keep the FanVerse Network functioning, it may have to be closed down or not perform as expected and the Token holders accept complete sole responsibility for any such situation.
            p.ml-1 7.17 You acknowledge that neither the Website Owner, its Affiliated Parties, nor any of their directors or other representatives have provided You with any financial or tax-related advice. You have consulted to the extent deemed appropriate by You with Your own advisors as to the financial, tax, legal, and related matters concerning a purchase of the Tokens and solely on that basis You believes that Your purchase of Tokens is suitable and appropriate.
            p.ml-1 7.18 You confirm that Your purchase of the Tokens complies with all applicable laws of the jurisdiction in which You reside including any relevant exchange control permission (an “
              strong Applicable Jurisdiction
              | ”) and does not give rise to any obligation of the Website Owner to prepare and file a prospectus or similar document or to register the Tokens or to be registered with or to file any report, disclosure or notice with any governmental authority. If required by the laws of the Applicable Jurisdiction, You are purchasing the Tokens pursuant to exemptions from the prospectus and registration requirements under the applicable securities laws of the Applicable Jurisdiction or, if such is not applicable, You are permitted to purchase the Tokens under the applicable securities laws of the Applicable Jurisdiction without the need to rely on an exemption.
            p
              strong 8. Intellectual Property Rights
            p.ml-1 8.1 The Website Owner has valid, unrestricted and exclusive ownership of rights to use the patents, trademarks, trademark registrations, trade names, copyrights, know-how, technology and other intellectual property necessary to the conduct of selling of the Tokens and its activities generally.
            p.ml-1 8.2 In no way shall these T&C entitle any User to any intellectual property of the Website Owner, including the intellectual property rights for the Website and all text, graphics, user interface, visual interface, photographs, trademarks, logos, artwork, and computer code, design, structure, selection, coordination, expression and other content connected to the Website. Arrangement of such content is owned by the Website Owner and is protected by national and international intellectual property rights protection laws.
            p.ml-1 8.3 There are no implied licenses under the Agreements, and any rights not expressly granted to the User hereunder are reserved by the Website Owner.
            p.ml-1 8.4 If for the purpose of any intellectual property right registration of the Website Owner, any documentary submission or any other action is required from the User, the User must provide the Website Owner with the respective reasonable assistance without any remuneration for the same.
            p
              strong 9. Applicable Law And Dispute Resolution
            p.ml-1 9.1 All questions concerning the construction, validity, enforcement and interpretation of the Agreements shall be governed by and construed and enforced in accordance with the laws of the British Virgin Islands Islands (Applicable Law).
            p.ml-1 9.2 To resolve any dispute, controversy or claim between them arising out of or relating to any of the Agreements, or the breach thereof, the Parties agree ﬁrst to negotiate in good faith for a period of not less than ninety (90) days following written notiﬁcation of such controversy or claim to the other Party. Each Party will notify the other Party in writing of any Disputes (as defined below) within thirty (30) days of the date it arises, so that the Parties can attempt in good faith to resolve the Disputes informally. Notice to Company shall be sent by email to Company at info@fanversecoin.io. Notice to You shall be either posted on our Website or, if available, will be sent by email to any email address You provided in connection with Your purchase of Tokens or use of the Website. Your notice to Us must include (i) your name, postal address, email address and telephone number, (ii) a description in reasonable detail of the nature or basis of the Disputes, and (iii) the specific relief that You are seeking. In case the Dispute could not be solved through negotiation, the Parties will move for binding arbitration.
            p.ml-1 9.3 Except for any disputes, claims, suits, actions, causes of action, demands or proceedings (collectively, “
              strong Disputes
              | ”) in which either Party seeks injunctive or other equitable relief for the alleged unlawful use of intellectual property, including, without limitation, copyrights, trademarks, trade names, know-how, logos, trade secrets or patents, You and Company (i) waive Your and Company’s respective rights to have any and all Disputes arising from or related to these Terms resolved in a court, and (ii) waive Your and Company’s respective rights to a jury trial. Instead, You and Company will arbitrate Disputes through binding arbitration, which is the referral of a Disputes to one or more persons charged with reviewing the Dispute and making a final and binding determination to resolve it instead of having the Dispute decided by a judge or jury in court.
            p.ml-1 9.4 The Parties waive all their rights to claim class arbitrations, class actions or representative actions. Any Disputes arising out of or related to these Terms is personal to You and Company and will be resolved solely through individual arbitration and will not be brought as a class arbitration, class action or any other type of representative proceeding. There will be no class arbitration or arbitration in which an individual attempts to resolve a Dispute as a representative of another individual or group of individuals. Further, a Dispute cannot be brought as a class or other type of representative action, whether within or outside of arbitration, or on behalf of any other individual or group of individuals.
            p.ml-1 9.5 The enforceability of this Clause 9 will be both substantively and procedurally governed by and construed and enforced in accordance with the International Chamber of Commerce (“
              strong ICC
              | ”) Rules of Arbitration, to the maximum extent permitted by applicable law.
            p.ml-1 9.6 Any arbitration will occur in Road Town, the British Virgin Islands. The arbitration will be conducted confidentially by a single arbitrator appointed by Company in accordance with the rules of the ICC Rules of Arbitration, which are hereby incorporated by reference. The courts located in Road Town, the British Virgin Islands, will have exclusive jurisdiction over any challenges (to the limited extent legally possible) and the enforcement of an arbitration decision.
            p.ml-1 9.7 Under these Terms, the applicable ICC Rules of Arbitration and the arbitrator will have (i) the exclusive authority and jurisdiction to make all procedural and substantive decisions regarding a Dispute, including the determination of whether a Dispute is arbitrable, and (ii) the authority to grant any remedy that would otherwise be available in court, provided, however, that the arbitrator does not have the authority to conduct a class arbitration or a representative or class action, which is prohibited by these Terms. The arbitrator may only conduct an individual arbitration and may not consolidate more than one individual’s claims, preside over any type of class or representative proceeding or preside over any proceeding involving more than one individual.
            p.ml-1 9.8 The ICC Rules of Arbitration and additional information about the ICC are available at https://iccwbo.org/dispute-resolution-services/arbitration/rules-of-arbitration/. By agreeing to be bound by these Terms, You either (i) acknowledge and agree that You have read and understand the International Chamber of Commerce Rules of Arbitration, or (ii) waive Your opportunity to read the International Chamber of Commerce Rules of Arbitration and any claim that the International Chamber of Commerce Rules of Arbitration are unfair or should not apply for any reason.
            p.ml-1 9.9 If any term, clause or provision of this Clause 9 is held invalid or unenforceable, it will be so held to the minimum extent applicable and required by law, and all other terms, clauses and provisions of this Clause 9 will remain valid and enforceable. Further, the waivers set forth in Clause 9.4 above are severable from the other provisions of these Terms and will remain valid and enforceable, except as prohibited by applicable law.
            p 10. Additional Provisions
            p.ml-1 (a) 
              strong Complete Agreement
              | : These Terms set forth the entire understanding between each User and the Company and the FanVerse Team with respect to the purchase and sale of Tokens. For facts relating to such sale and purchase, the User agrees to rely only on the Agreements in determining purchase decisions and understands that these documents govern the sale of Tokens and supersede any public statements about the Token Sale made by third parties or by the FanVerse Team or Company or individuals associated with FanVerse Team or Company, past and present and during the Token Sale.
            p.ml-1 (b)  
              strong Severability
              | : If any term, clause, or provision of these T&C is held unlawful, void, or unenforceable, then that term, clause or provision will be severable from these T&C and will not affect the validity or enforceability of any remaining part of that term, clause or provision, or any other term, clause, or provision of these T&C.
            p.ml-1 (c)  
              strong No Waiver
              | : The failure of the Website Owner to require or enforce strict performance by the Buyer of any provision of these Agreements or failure to exercise any right under these Agreements shall not be construed as a waiver or relinquishment of the Company’s right to assert or rely upon any such provision or right in that or any other instance. The express waiver by the Company of any provision, condition, or requirement of these T&C shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement. Except as expressly and specifically set forth in this these T&C, no representations, statements, consents, waivers, or other acts or omissions by the Company shall be deemed a modification of these T&C nor be legally binding, unless documented in physical writing, and executed by the User and a duly appointed officer, employee, or agent of the Company.
            p.ml-1 (d)  
              strong Force Majeure
              | : The Company is not liable for failure to perform solely caused by unavoidable casualty, delays in delivery of materials, embargoes, government orders, acts of civil or military authorities, acts by common carriers, emergency conditions (including weather conditions) incompatible with safety or good quality workmanship, or any similar unforeseen event that renders performance commercially implausible. If an event of force majeure occurs, the Party injured by the other’s inability to perform may elect to suspend the Agreements, in whole or part, for the duration of the force majeure circumstances. The Party experiencing the force majeure circumstances shall cooperate with and assist the injured Party in all reasonable ways to minimize the impact of force majeure on the injured Party.
            p.ml-1 (e)  
              strong Cooperation with Legal Authorities
              | : The Company and FanVerse Team will cooperate with all law enforcement enquiries, subpoenas, or requests provided they are fully supported and documented by the law in the relevant jurisdictions.
            p.ml-1 (f)  
              strong State Policies
              | : The Website Owner and its Affiliated Parties strictly follow anti-money laundering (“ 
              strong AML
              | ”), “know your customer” (“ 
              strong KYC
              | ”) and other banking or government regulations in respective jurisdictions. Each and any User fully agrees to assist the Website Owner in complying with all of the mentioned regulations and provide any necessary information if such is required from the User by the competent authority. For greater clarity, all purchases of the Tokens during the Token Sale shall be subject to the completion of the KYC Checks to the satisfaction of the Company. In relation to the KYC Checks, each Purchaser hereby agrees:

            p.ml-2 (i) to promptly comply and cooperate with all requests for information (for example, the Purchaser’s identity, place of residence, and source of funds) by the Company for the purposes of the KYC Checks;
            p.ml-2 (ii) to ensure that all information provided to the Company in connection with the Purchaser’s participation in the Token Sale is accurate and not misleading, and to promptly notify the Company of any change to the information supplied by the Company;
            p.ml-2 (iii) that the Company may (i) disclose any information relating to, or provided by, the Purchaser to the Company to the service providers performing the KYC Checks on behalf of the Company, the developer of the FanVerse Network, any governmental or regulatory authority, or to any other person as may be required by any applicable laws, and (ii) report any suspicious transaction, as determined in its sole discretion, to any relevant governmental or regulatory authority; and
            p.ml-2 (iv) any personal data submitted by the Purchaser for the purposes of the KYC Check shall be subject to the terms of the privacy policy contained in the Website. 
            p.ml-2 (v) A Purchaser shall not be eligible to participate in the Token Sale and must not purchase the Tokens if the Purchaser is:
            p.ml-3 a. (
              i if the Purchaser is a natural person
              | ) below 18 years of age or such higher age of majority prescribed by the applicable laws;
            p.ml-3 b. a citizen, resident (tax or otherwise) or a person located or domiciled in the Democratic People’s Republic of Korea, People’s Republic of China, the United States of America, Canada, Singapore, the Democratic Republic of the Congo, Eritrea, Iran, Libya, Somalia, South Sudan, Sudan, Yemen, Syria; or
            p.ml-3 c. a citizen, resident, tax or otherwise, or a person located or domiciled in any geographic area or country in which its participation in the Token Sale may be prohibited or restricted by the applicable laws, including, without limitation, any laws relating to anti-money laundering and combating the financing of terrorism).
            p.ml-1 (g)  
              strong Updates
              | : The Agreements may be updated with or without notice from time to time and the version available at the Website on a given date will be considered as the governing document for any incidents arising on that date. An update of the Agreements on the Website will be considered as valid notice to everyone and all users and interested parties are requested to visit the Website regularly to update themselves about the latest updates to the Agreements.
            p.ml-1 (h) The Agreements will not be interpreted against one Party merely as it was drafted by the Party.
            p.ml-1 (i)  
              strong Construction
              | : For purposes of the Agreements, whenever the context requires:
            p.ml-2 (i) the singular number shall include the plural, and vice versa;
            p.ml-2 (ii) the masculine gender shall include the feminine and neuter genders, the feminine gender shall include the masculine and neuter genders, the neuter gender shall include the masculine and feminine genders; and
            p.ml-2 (iii) the words include and including, and variations thereof, shall not be deemed to be terms of limitation, but rather shall be deemed to be followed by the words without limitation. 
            p.ml-1 (j) 
              strong Assignment
              | : The User shall not assign any of the Agreements, either in whole or in part, without the express prior written consent of the Website Owner. Any such attempted assignment shall be void.
            
          .sys
            //- .sys-1.sys-box
            //-   input(type="checkbox", name="d")#item1.js-checkbox.js-check
            //-   label(for="item1") I represent and warrant that I am not a resident or citizen of the United States of America, China, Canada or Singapore (collectively referred to as “
            //-     strong Restricted Countries
            //-     | ”), and I do not have a primary residence or domicile in the Restricted Countries, including Puerto Rico, the U.S. Virgin Islands, and any other possessions of the Restricted Countries (excluding Hong Kong, Macau and Taiwan).
            //- .sys-2.sys-box
            //-   input(type="checkbox", name="d")#item2.js-checkbox.js-check
            //-   label(for="item2") I represent and warrant that, to the extent applicable, none of the owners of the entity of which I am an authorized officer are a citizen or permanent resident of the United States of America, nor do any of the owners have a primary residence or domicile in the United States of America (including Puerto Rico, the U.S. Virgin Islands and any other possessions of the United States of America). 
            //- .sys-3.sys-box 
            //-   input(type="checkbox", name="d")#item3.js-checkbox.js-check
            //-   label(for="item3") I acknowledge and agree that I must rely upon my own examination of the legal, taxation, financial and other consequences of purchasing FanVerse Tokens, including the merits of purchasing and the risks involved. I agree that I will not treat the contents of, or any information available through, 
            //-     a(href="https://fanversecoin.io") https://fanversecoin.io 
            //-     | as advice relating to legal, taxation, financial or investment matters and acknowledge that I am advised to consult my own professional advisors concerning the acquisition, holding or disposal of FanVerse Tokens. I acknowledge that I have sufficient knowledge and experience in dealing with non-fungible tokens, and have the financial ability and willingness to accept the high risk and lack of liquidity inherent in purchasing non-fungible tokens.
            //- .sys-4.sys-box 
            //-   input(type="checkbox", name="d")#item4.js-checkbox.js-check
            //-   label(for="item4") I acknowledge that, to the extent that third parties ascribe an external exchange value to FanVerse Tokens (e.g., as denominated in a digital or fiat currency), such value may be extremely volatile and diminish to zero.
            .sys-btns 
              a(href="#").btn.btn-color.js-continue
                span I agree

              a(href="https://google.com").btn.btn-gray
                span I disagree
  //- div
  div(style="display: none;")
    audio(controls='', preload="auto", autoplay, muted)#soundMain
      source(src='sounds/track.mp3' type='audio/mp3')
    button#unmuteButton.unmuteButton start
  script.
    "use strict";

    $(document).ready(function () {

      if (!$.cookie('disclaimer') || $.cookie('disclaimer') !== '1') {
        window.location = "/disclaimer.html";
        return false;
      }

      $('.js-continue').click(function(e){
        e.preventDefault();
        $.cookie('terms', '1', { expires: 30 });

        $.ajax({
          url: '../load.php',
          //- data: ,
          cache: false,
          contentType: false,
          processData: false,
          type: 'POST',
          success: function success(data) {
            //- if (!$(this).hasClass('disabled')) {
              window.location = "/";
            //- }
          }
        });


      });

    });